cycler==0.10.0
functools32==3.2.3.post2
matplotlib==2.0.2
numpy==1.13.3
opencv-contrib-python==3.4.0.12
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
scipy==1.0.0
six==1.11.0
subprocess32==3.2.7
